#footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  bottom: 40px;
  left: 200px;
  background-image: url("https://rachelburford.github.io/images/blue_panel.png");    
  background-position: center;
  height: 200px;
  width: 100%;
  object-fit: cover;
}
