* {box-sizing:border-box}

h3 {
  float: right;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 30px;
}

#bio-container {
  height: 650px;
  width: 100%;
  position: relative;
}

#content-image {
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slideshow-container {
  width:300px;
  background-color: none;
  position: relative;
  left: 50%;
  align-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.photos {
  height: 490px;
  width: 490px;
  object-fit: cover;
  object-position: 10% 20%;
  border: 2px solid black;
  border-radius: 50%;
  filter: grayscale(100%);
}

#control-buttons {
  position: relative;
  bottom: 15%;
  right: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,.next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text h3 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.errorStateHidden  {
  display: none;
}

