@import "slides.css";
@import "nav.css";
@import "footer.css";

html {
    background-color: black;
    scroll-behavior: smooth;
    /* max-width: 1200px; */
}
h1, h2, h3 {
  color: aliceblue;
}

.white {
  color: aliceblue;
}

#primary {
  position: relative;
  text-align: center;
  color: #717171; 
}

.photo-block {
  position: absolute;
  bottom: 125px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#pp-hero {
  height: 375px;
}

.float-right {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}
.float-left {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}
.float-leftish {
  position: absolute;
  right: 50%;
  transform: translate(10%, -100%);
  color: aliceblue;
}
#wasteland {
    position: inherit;
    background-color: none;
    height: 100px;
    width: 100%;
}

#bio-header h1 {
  color: aliceblue;
}

form {
  display: flex;
  color: beige;
  width: 500px;
}

#collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, #collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

