@import "slides.css";
@import "nav.css";
@import "footer.css";

html {
    background-color: black;
    /* max-width: 1200px; */
}
h1, h2, h3 {
  color: aliceblue;
}

.white {
  color: aliceblue;
}

#primary {
  position: relative;
  text-align: center;
  color: #717171; 
}

.float-right {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}
.float-left {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}
#wasteland {
    position: inherit;
    background-color: none;
    height: 100px;
    width: 100%;
}

#bio-header h1 {
  color: aliceblue;
}

h1 {
  color: azure;
}

form {
  display: flex;
  color: beige;
  width: 500px;
}

#pp-hero {
  position: fixed;
  left: 50px;
  bottom: 150px;

}