@import "slides.css";
@import "nav.css";

html {
    background-color: black;
    /* max-width: 1200px; */
}

#footer-container {
  height: 200px;
  bottom: 1mm;

}

#footer-image {
  background-position: center;
  height: 200px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

#primary {
  position: relative;
  text-align: center;
  color: #717171; 
}

.float-right {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}
.float-left {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}
#wasteland {
    position: inherit;
    background-color: none;
    height: 100px;
    width: 100%;
}
