<div class="container">
    <div class="texter">
      <span style="--i:-4">W</span>
      <span style="--i:-3">O</span>
      <span style="--i:-2">M</span>
      <span style="--i:-1">E</span>
      <span style="--i:0">N</span>
      <span style="--i:1"></span>
      <span style="--i:2">I</span>
      <span style="--i:3">N</span>
      <span style="--i:4"></span>
      <span style="--i:5">T</span>
      <span style="--i:6">E</span>
      <span style="--i:6">C</span>
      <span style="--i:6">H</span>
    </div>
  </div>