
<form action="./user.ejs" method="post">
    <ul>
        <ul>
          <label for="name">Name:</label>
          <input type="text" id="name" name="user_name">
        </ul>
        <ul>
          <label for="mail">E-mail:</label>
          <input type="email" id="mail" name="user_email">
        </ul>
        <ul>
        <ul class="button">
            <button type="submit">Sign Up!</button>
          </ul>
       </ul>
</form>

