<% if (user !== null) { %>
    <p class="white">You are logged in as <%- user.username %></p> 
    <button id="logout" href="../logout/">Logout</button>
    <% } else { %>
    <p>You need to login</p>
    <% } %>