<!DOCTYPE html>
<html lang="en">
    <head>
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <title>Women in Tech</title>
          <meta name="description" content="Showcasing women in tech." />
          <meta name="author" content="rach" />
          <link rel='stylesheet' href="/stylesheets/styles.css" />
    </head>
<header>
    <%- include("../partials/_nav") -%>
</header>
    <body>