<!DOCTYPE html>
<html lang="en">
    <head>
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <title>Women in Tech</title>
          <meta name="description" content="Showcasing women in tech." />
          <meta name="author" content="rach" />
          <link rel='stylesheet' href="/stylesheets/styles.css" />
    </head>
    <body>
<header>
    <%- include("../partials/_nav") -%>
</header>
<div class="content">
        <% if (user !== null) { %>
            <p class="white">You are logged in as <%- user.username %></p> 
            <button id="logout" href="../logout/">Logout</button>
            <% } else { %>
            <p>You need to login</p>
            <% } %>
        