<div id="primary">
    <div id="hero-image">
        <div id="hero-text">
        <a id="hero-line" href="#history">
        <%- include("../partials/_extra") -%>
        </a>
        </div>
    </div>
</div>