<div class ="topnav">
    <div id="topnavmenu">
    <a> <img id="user-pic" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"></a>
    <a class="active" href="/">Home</a>
    <a href="../login/">Account</a>
    <a href="">Contact</a>
    </div>
    <div class="search-container">
        <form id="search-form" action="/" method="GET">
            <input name="name" id="name-query" type="text" /> 
            <input type="submit" value="search" />            
        </form>
      </div>
  </div>