<div class ="topnav">
    <a> <img id="user-pic" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"></a>
    <a class="active" href="/">Home</a>
    <a href="../login/">Account</a>
    <a href="">Contact</a>
    <div class="search-container">
        <form action="">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
  </div>