<div id="bio-container">

    <div><img id="content-image" src="/images/dark_panel.png"></div>
    <div><h1 class="float-left" id="history">Women in Tech - The Pioneers</h1></div>
    <div id="slides" class="slideshow-container">
        <% people.forEach(person => { %>
            <div class="mySlides fade">
                <a href="/profile/<%= person.id %>">
                <img class="photos" onerror="onError()" src="<%= person.photo %>">
                </a>
                <div>
                    <h3 class="text"><%=person.name %></h3 style="color:white">
                </div>
                <div id="control-buttons">
                    <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
                    <button class="next" onclick="plusSlides(1)">&#10095;</button>
                </div>
            </div>


    <% }) %>
    <br>
    </div>
</div>
<script src='slides.js'></script>