<%- include("../partials/_head") -%>
            <h1>Women in Tech </h1>
            <h1><%= data.name %></h1>
            <img id="<%= data.name %>" src="<%= data.image %>"></img>

    </body>
</html>
