<%- include("../partials/_head") -%>
            <h1>Women in Tech </h1>
            <h1><%= data.name %></h1>
            <img id="<%= data.name %>" src="<%= data.image %>"></img>

            <div class="text2" >
                <p class="white">Nachos are</p>
                <p>
                  <span class="word wisteria">tasty.</span>
                  <span class="word belize">wonderful.</span>
                  <span class="word pomegranate">fancy.</span>
                  <span class="word green">beautiful.</span>
                  <span class="word midnight">cheap.</span>
                </p>
              </div>
              
    <script src='/static/heroText.js'></script>
    </body>
</html>
