<%- include("../partials/_head") -%>

<% if (session !== null) { %>
    <p class="white">You are logged in</p> 
    <a href="../profile">Add to our blog </a>
    <% } else { %>
        <h1>Login</h1>

        <form action="/login" method="post">
        <div>
            <label>Username</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" />
        </div>
        <div>
            <input type="submit" name="Login" />
        </div>
        </form>
<% } %>

</div>
</body>
</html>
