<%- include("../partials/_head") -%>

<h1>Create a new profile</h1>
<div id="creator">
<form action="/profile" method="POST" enctype="multipart/form-data">
    <div>
        <label>Username</label>
        <input class="input2" name="name" type="text" />
    </div>
    <div>
        <label>Tagline</label>    
        <input class="input2" name="tagline" type="text" />
    </div>
    <div>
        <label>Bio</label>  
        <textarea class="input2" name="bio"></textarea>
    </div>
    <div>
        <label>Upload a Photo</label>      
        <input class="input2" name="photo" type="file" />
    </div>
    <div>  
        <input class="btn info submit" type="submit" value="Create" />
    </div>
</form>
</div>

<%- include("../partials/_footer") -%>